<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- <script type="text/javascript" src="/scripts/app.js"></script> -->
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <div class = "main-grid">
      <div id = "title-card" >
        <h1> Expand Your Mind 🤯 </h1>
        <hr class = "title-line">
        <h2> Create quizzes or take user made quizzes from around the globe! </h2>
      </div>

    <div id = "popular-quizzes">
      <h2 class = "card-head">Hot Quizzes</h2>
      <div id = "recent-cards">
        <div class = "recent-quiz">
          <% const url1 = `/quizzes/${data[0].id}`  %>
          <a href = <%= url1 %> id = "recent-1"><%= data[0].title %></a>
          <h4 class = "created-by" id = "created-by-1">Created At <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(data[0].date_created) %></h4>
          <h4 class = "created-by" id = "created-by-1">Created By <%= data[0].name %></h4>
        </div>
        <div class = "recent-quiz">
          <% const url2 = `/quizzes/${data[1].id}`  %>
          <a href = <%= url2 %> id = "recent-2"><%= data[1].title %></a>
          <h4 class = "created-by" id = "created-by-1">Created At <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(data[1].date_created) %></h4>
          <h4 class = "created-by" id = "created-by-2">Created By <%= data[1].name %></h4>
        </div>
        <div class = "recent-quiz">
          <% const url3 = `/quizzes/${data[2].id}`  %>
          <a href = <%= url3 %> id = "recent-3"><%= data[2].title %></a>
          <h4 class = "created-by" id = "created-by-1">Created At <%= new Intl.DateTimeFormat('en-GB', { year: 'numeric', month: 'long', day: '2-digit'}).format(data[2].date_created) %></h4>
          <h4 class = "created-by" id = "created-by-3">Created By <%= data[2].name %></h4>
        </div>
      </div>
    </div>

  </div>

  </main>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>
